doc/UsersLib.json
{
  "name": "UsersLib",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -112
      ],
      "id": "e2169014-1113-4a42-ad14-730be4049d10",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=slack-user-id-{{ $json.id }}",
        "value": "={{ $json.compact().toJsonString() }}",
        "keyType": "sets"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        112
      ],
      "id": "b11a13ae-e96d-4a96-851c-6dcd920a47ca",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Gm6XV16Qg3GdFH5M",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "user",
        "key": "=slack-user-id-{{ $json.slack_user_id }}",
        "keyType": "sets",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        -208
      ],
      "id": "1999da27-6e16-42cd-beb6-052cd5d7b5a6",
      "name": "Redis1",
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "Gm6XV16Qg3GdFH5M",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.user.length > 0 ? $json.user.first() : { error: \"user not found: \" + $('slack_user_id').item.json.slack_user_id } }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -208
      ],
      "id": "ec3c5556-7d55-4b60-9887-c88691f05cea",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -304
      ],
      "id": "a63b6b3e-39db-4542-8943-d64ec738f944",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aecf76f3-40b5-47c2-b3f2-4af062f50af2",
              "name": "slack_user_id",
              "value": "={{ $json.slack_user_id ?? 'U04SHBKFA1E' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -208
      ],
      "id": "1acab77c-94be-4081-bc61-d625ca3e38f0",
      "name": "slack_user_id"
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('slack_user_id').item.json.slack_user_id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        336,
        -144
      ],
      "id": "0a54b33b-b86b-4a6f-b3e1-53312a0275d8",
      "name": "Get information about a user",
      "webhookId": "c504307e-c109-4d60-b917-d840c2f25dde",
      "credentials": {
        "slackApi": {
          "id": "hJeDUA3zptazPFsA",
          "name": "Slack User"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab4a6db2-5d65-4394-916d-c3dfc95044ca",
              "leftValue": "={{ $json.user.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -208
      ],
      "id": "38ec69a4-3783-42c7-bac8-6ed6c1a2807a",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -336,
        112
      ],
      "id": "b0a78280-a418-4cdf-9b9d-e5ed71af006b",
      "name": "Fetch all",
      "webhookId": "c504307e-c109-4d60-b917-d840c2f25dde",
      "credentials": {
        "slackApi": {
          "id": "hJeDUA3zptazPFsA",
          "name": "Slack User"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aecf76f3-40b5-47c2-b3f2-4af062f50af2",
              "name": "user",
              "value": "={{ $json.compact() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -144
      ],
      "id": "22ccda0e-f561-4de3-be05-d28113c0938a",
      "name": "slack_user_id1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9479dfd0-427f-4ad8-baeb-e35deb2ce20f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id,name,real_name",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -208
      ],
      "id": "a629bb47-6ece-4a21-a3e2-b79666a3b7fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        112
      ],
      "id": "dcc8711e-4bf0-4a4c-989e-0a381eb7ef5c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=slack-user-id-{{ $json.id }}",
        "value": "={{ $json.compact().toJsonString() }}",
        "keyType": "sets",
        "expire": true,
        "ttl": 6000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        -144
      ],
      "id": "7506a812-0c31-4aa5-bab2-114bec93820d",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "Gm6XV16Qg3GdFH5M",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "slack_user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        []
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "slack_user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slack_user_id": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch all": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slack_user_id1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "slack_user_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46fd9138-e60b-43b9-9d16-970ab8516275",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75094c6527b28a153a8ab76dcf185e47e3da30415e142d603c3681637cf56cf4"
  },
  "id": "9QFCpTgahFUiakrN",
  "tags": []
}